name: XConn Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Setup environment & install dependencies
        run: make setup

      - name: Setup AAT
        run: |
          git clone https://github.com/xconnio/xconn-aat-setup.git
          cd xconn-aat-setup
          make up
          sudo snap install wick --classic
          timeout 30 bash -c 'until wick --url ws://localhost:8081/ws publish test; do sleep 1; done'

      - name: Run tests
        run: make test

      - name: Run Integration tests
        run: |
          make install-nxt
          nxt start -c tests/ &
          make integration

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
